html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
    background: blue;
    color: white;
    font-size: 30px;
}

body {
  text-align: center;
  background: #070707;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  color: #fb7e23;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  font-family: sans-serif;
  color: #40434e;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #f8ac8f;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #fb7e23;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
